/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

.titre{
    font-family: 'Saira Stencil One', cursive;
    font-size: 2.5rem;
    text-align: center;
    padding: 2vh;
    margin: 2vh;
    border: solid 3px #892ce5;
    border-radius: 20px;
    box-shadow: 0 4px 6px #46197d;
}

.contenu{
    font-family: 'Overpass', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 2vh;
    margin: 2vh;
    border: solid 3px #892ce5;
    border-radius: 20px;
}