.ligne_user_globale{
    border:solid #892ce5 1px;
    font-family:'Overpass', sans-serif;
}

.ligne_user{
    display: flex;
}

.info_user{
    font-family: 'Overpass', sans-serif;
    font-size: 1.2rem;
}

.input{
    border: solid 1px #000000;
    margin-left: 1vw;
    padding-left: 0.5%;
    max-width: 13vw;
    width:100%;
}

#image_user{
    width: 10vw;
    border: solid 3px #892ce5;
    border-radius: 10px;
    padding: 1vw;
    margin: 2vw;
}

@media (max-width: 480px) {
    #image_user{
        width:30vw;
    }
}

.boutton_violet{
    font-family: 'Overpass', sans-serif;
    color: white;
    background-color: #892ce5;
    border: solid white 2px;
    border-radius: 20px;
    padding: 0.5vh 3vw 0.5vh 3vw;
}
.boutton_violet:hover{
    font-family: 'Overpass', sans-serif;
    color: #892ce5;
    background-color: white;
    border: solid #892ce5 2px;
    box-shadow: 0px 0px 10px #892ce5;
}

.boutton_supprimer{
    font-family: 'Overpass', sans-serif;
    color: white;
    background-color: red;
    border-radius: 20px;
    padding: 0.5vh 3vw 0.5vh 3vw;
}
.boutton_supprimer:hover{
    font-family: 'Overpass', sans-serif;
    color:red;
    background-color: white;
    border: solid red 2px;
    box-shadow: 0px 0px 10px red;
}